<launch>
    <!-- Launch the joystick driver node -->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <!-- Parameters for joy_node -->
        <param name="dev" value="/dev/input/js0" /> <!-- Adjust if using a different device -->
        <!-- <param name="deadzone" value="0.1" />       Adjust for joystick deadzone -->
        <!-- <param name="autorepeat_rate" value="20.0" /> Adjust for autorepeat rate -->
    </node>

    <!-- Launch your custom Python nodes -->
    <node pkg="twolink" type="manual_calibration.py" name="Manual_calibration" output="screen" />
    <node pkg="twolink" type="angle_sender.py" name="Angle_sender" output="screen" />
    <node pkg="twolink" type="arm_old.py" name="Old_arm" output="screen" />
    <node pkg="twolink" type="arm_IK.py" name="Arm_IK" output="screen" />


</launch>